<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        #maincontainer{
            min-height: 100vh;
        }
        .py-3 {
          text-align: center;
            font-size: 50px;
            background: linear-gradient(to left,
                    violet,
                    indigo,
                    blue,
                    green,
                    yellow,
                    orange,
                    red);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
        .text-dark {
          color: #466a8f!important;
        }
        .result {
            line-height: 1.5em;
            height: 3em;
            overflow: hidden;
            /* white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%; */
        }
    </style>
    <title>Search Results</title>
</head>
<body>
    <div class="container my-3" id="maincontainer">
      <h1 class="py-3">Search Results</h1>
      <h4><a  href="<%= url_1 %>" class="text-dark"><%= title_1 %></a> </h4>
          <div class="result">
                      <p><%= statement_1 %></p>
                </div>  
      <h4><a href="<%= url_2 %>" class="text-dark"><%= title_2 %></a> </h4>
      <div class="result">
                  <p><%= statement_2 %></p>
            </div>  
      <h4><a href="<%= url_3 %>" class="text-dark"><%= title_3 %></a> </h4>
      <div class="result">
                  <p><%= statement_3 %></p>
            </div> 
      <h4><a href="<%= url_4 %>" class="text-dark"><%= title_4 %></a> </h4>
      <div class="result">
                  <p><%= statement_4 %></p>
            </div> 
      <h4><a href="<%= url_5 %>" class="text-dark"><%= title_5 %></a> </h4>
      <div class="result">
                  <p><%= statement_5 %></p>
            </div> 
      <h4><a href="<%= url_6 %>" class="text-dark"><%= title_6 %></a> </h4>
      <div class="result">
                  <p><%= statement_6 %></p>
            </div>     
      <h4><a href="<%= url_7 %>" class="text-dark"><%= title_7 %></a> </h4>
      <div class="result">
                  <p><%= statement_7 %></p>
            </div>  
      <h4><a href="<%= url_8 %>" class="text-dark"><%= title_8 %></a> </h4>
      <div class="result">
                  <p><%= statement_8 %></p>
            </div>  
      <h4><a href="<%= url_9 %>" class="text-dark"><%= title_9 %></a> </h4>
      <div class="result">
                  <p><%= statement_9 %></p>
            </div> 
      <h4><a href="<%= url_10 %>" class="text-dark"><%= title_10 %></a> </h4>
      <div class="result">
                  <p><%= statement_10 %></p>
            </div>  
      
    </div>
    
</body>
</html>
